@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  /* min-height: 100%; */
  height: auto;
  width: auto;
  
  
}

.home, .contactus, .about  {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;

 
  
  
}

.mywork {
  background-color: #fdfab7;
  display: flex;
  height: 100vh;
  /* align-items: center; */
  justify-content: center;
  font-size: 3rem;
}

.projectheading {
  color: #101357;
}

.home {
  background-color: #101357;
  
  
  
}

.welcome {
  text-align: center;
  padding: 40px;
  background-size: 100% 100%;
  
}

.intro {
  margin-bottom: 20px;
  color: #fdfab7;
}

.description {
  margin-bottom: 30px;
  color: white;
}

.magic-word {
  color: #fea49f;
}

.logo {
  height: 150px;
  width: 150px;
}

/* buttons */

a.button2 {
display: inline-block;
padding: 0.5em 3em;
border: 0.16em solid #fdfab7;
margin: 20px 0.3em 0.3em 0;
box-sizing: border-box;
text-decoration: none;
text-transform: uppercase;
/* font-family: 'Roboto', sans-serif; */
font-weight: 100;
color: #fdfab7;
text-align: center;
transition: all 0.15s;
border-width: thin;
font-size: 1.5rem;

}
a.button2:hover {
  color: #fea49f;
  border-color: #fea49f; 
  
}

a.button2:active {
color: #fea49f;
border-color: #fea49f;
}



@media all and (max-width:30em){
  a.button2 {
    display: block;
    margin: 0.4em auto;
  }
}


  
  
  
  



/* for the split screen effect: Below */
/* .split {
  height: 100%;
  width: 50%;
  position: fixed;
  display: flex;
  z-index: 1;
  top: 0px;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  text-align: center;
}

.right {
  right: 0;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered h1 {
  width: 150px;
  
} */